body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
}

nav a:hover {
    color: cyan;
}
